$breakpoint-desktop: 1920px;
$breakpoint-mobile: 360px;

$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 16px;
$space-md: 20px;
$space-lg: 40px;
$space-xl: 60px;

$color-primary: #6CF080;
$color-secondary: #5595FF;
$color-warning: #FF5531;

$eng-h1: 2.5rem;
$eng-h2: 1.875rem;
$eng-h3: 1.5rem;
$eng-h4: 1rem;

$kor-p1: 1.25rem;
$kor-p2: 1.125rem;
$kor-p3: 1rem;
$kor-p4: 0.875rem;
